:root {
  background-color: #242424;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.app-title {
  color: #b4b4b4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.app-description {
  color: #b4b4b4;
  margin-top: -1em;
  font-size: 1.3em;
}

.chat-content {
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns all messages to the right */
}

.chat-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #1e1e1e;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;
  overflow: hidden;
}

.chat-input-field {
  background: #333;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  width: 97%;
  outline: none;
  transition: all 0.3s ease;
}

.chat-input-field:focus {
  background: #444;
  border: 1px solid #666;
}

.chat-send {
  background-color: #4f46e5;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.chat-send:hover {
  background-color: #3b37c9;
}

.message-container {
  background-color: #505050;
  color: white;
  padding: 12px;
  border-radius: 8px;
  white-space: pre-line;
  display: flex;
  justify-content: end;
  width: fit-content;
  margin-bottom: 15px;
}

.user-message {
  align-self: flex-end;
  text-align: right;
}

.bot-message {
  align-self: flex-start;
  background-color: black; /* Light gray for bot messages */
  text-align: left;
  width: fit-content;
}
